themes {
    default {
        fg "#e8e8e5"
        bg "#000000"
        black "#000000"
        red "#757387"
        green "#968F9E"
        yellow "#B1AEB5"
        blue "#BFB8C4"
        magenta "#D1D1D0"
        cyan "#e8e8e5"
        white "#a2a2a0"
        orange "#757387"
    }
}
