themes {
    default {
        fg "#c6cedb"
        bg "#000000"
        black "#000000"
        red "#75A42F"
        green "#686894"
        yellow "#9E5A8B"
        blue "#68A3BB"
        magenta "#CAA9B5"
        cyan "#c6cedb"
        white "#8a9099"
        orange "#75A42F"
    }
}
