themes {
    default {
        fg "#a2d9dd"
        bg "#0D1119"
        black "#0D1119"
        red "#6B4697"
        green "#E20D9D"
        yellow "#DE15E1"
        blue "#F409FA"
        magenta "#BB4CC4"
        cyan "#a2d9dd"
        white "#71979a"
        orange "#6B4697"
    }
}
