* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: 900;
  font-size: 14px;
  color: #cdd6f4;
}

/* Set background color of main waybar window */
window#waybar {
  background: #1e1e2e;
}

/* Set background color of tooltips */
tooltip {
  background: #1e1e2e;
}

/* Set workspace text color and padding */
#workspaces button {
  padding: 0;
}

/* Sets active workspace to have a solid line on the bottom */
#workspaces button.active {
  border-bottom: 2px solid #89b4fa;
}

/* More workspace stuff for highlighting on hover */
#workspaces button.focused {
  color: #313244;
}

#workspaces button.urgent {
  color: #f38ba8;
}

/* Sets background, padding, margins, and borders for (all) modules */
#custom-updates,
#workspaces,
#clock,
#window,
#cpu,
#memory,
#pulseaudio,
#tray,
#disk
{
  background: #1a1b26;
  margin: 0px 8px 0px 8px;
  border: 0;
}

#window.empty {
  background: #1a1b26;
}

