themes {
    default {
        fg "#BFB1A0"
        bg "#1c1214"
        black "#1c1214"
        red "#1c1214"
        green "#86CAF4"
        yellow "#B0D5E8"
        blue "#D6D9D6"
        magenta "#DBE1DA"
        cyan "#e3e7e6"
        white "#9ea1a1"
        orange "#BFB1A0"
    }
}
